/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #193940;

}









.container {
    margin-top: 65px;
    margin-left: 220px;
    background-color: #e7e9ec; 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 2000px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}









.menu-card {
    background-color: #fff;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    width: 400px;
}

.menu-card:hover {
    transform: scale(1.05);
}

.menu-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.price {
    font-size: 16px;
    color: #28a745;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount {
    background-color: #ffc107;
    color: #fff;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.size {
    font-size: 14px;
    color: #555;
    margin-left: 10px;
}

.select-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.select-button:hover {
    background-color: #218838;
}

